textarea {
    resize: none;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 50%;
    height: 60px;
}

textarea:focus {
    outline: none;
}
  
input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    padding-left: 10px; 
}

input:focus{
    outline: none;
}

button {
    background: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    outline: none;
    font-size: 16px;
    margin-top: 20px;
    padding: 0;
}

.notappear {
    display: none;
}

.show {
    display: block;
    color: white;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border: none;
}

@media only screen and (max-width: 1000px) {
    textarea {
        width: 80%;
    }
    input {
        width: 70%;
    }
}