textarea {
    resize: none;
    background: transparent;
    color: white;
}
  
input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 17px;
}

input:focus{
    outline: none;
}

span {

}