textarea {
    resize: none;
    background: transparent;
    color: white;
    width: 50%;
    height: 60px;
}

textarea:focus {
    outline: none;
}
  
input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    padding-left: 10px; 
}

input:focus{
    outline: none;
}

button {
    background: transparent;
    border: none;
    color: white;
    font-size: 17px;
    border-bottom: 1px solid white;
    cursor: pointer;
    outline: none;
}

@media only screen and (max-width: 1000px) {
    textarea {
        width: 80%;
    }
    input {
        width: 70%;
    }
}