.header {
    display: block;
    position: relative;
    height: 25%;
    width: 100%;
}

.headerBackground {
    display: block;
    width: 100%;
    height: 250px;
    margin-top: 45px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.headerBackground .myInfo {
    position: absolute;
    display: block;
    width: 50%;
    padding: 20px;
    color: white;
}

.headerBackground .myInfo ul {
    list-style: none;
}

.headerBackground .myInfo li {
    margin-top: 30px;
}

.headerBackground .title {
    position: absolute;
    right: 50%;
    top: 60%;
    width: 400px;
    transform: translateX(50%);
    color: white;
}

.headerBackground .wheather {
    display: block;
    position: absolute;
    right: 5%;
    padding: 20px;
    color: white;
}

.headerBackground .wheather ul {
    list-style: none;
}

.headerBackground .wheather li {
    margin-top: 32px;
    line-height: 1px;
}

.image {
    display: block;
}

.image img {
    display: block;
    position: absolute;
    top: -25%;
    right: 50%;
    left: 50%;
    height: 200px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border-style: groove;
    transform: translateX(-50%)
}

#myName {
    font-size: 30px;
}

@media only screen and (max-width: 991px) {

    .headerBackground {
        margin-top: 20px;
    }
    
    .image img {
        display: block;
        position: absolute;
        top: 20px;
        left: 90px;
        height: 150px;
        width: auto;
    }

    .headerBackground .myInfo {
        margin-left: 130px;
        font-size: 12px;
        color: white;
        padding-top: 0px;
        padding-left: 5px;
        top: 0;
    }
    
    .headerBackground {
        height: 200px;
    }

    .headerBackground .wheather {
        font-size: 12px;
    }

    .headerBackground .title {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    .headerBackground .wheather {
        display: none;
    }

    .headerBackground .myInfo #myName {
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .headerBackground .myInfo #myName {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1190px) {
    .headerBackground .title {
        margin-top: 40px;
        text-align: center;
        font-size: 10px;
    }
}