.button {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 25px;
    top: 30px;
    
    cursor: pointer;
    // background: rgba(0, 0, 0, 0.2)
}

.line {
    display: block;
    background: rgb(10, 10, 10);
    width: 100%;
    height: 2px;
}

@media only screen and (min-width: 1100px) {
    .button {
        display: none;
    }
}
